.wrapper {
  flex-direction: row;
  align-items: center;
  justify-content: center;

  display: flex;

  width: 100%;

  .text {
    box-shadow: 0 20px 21px -18px rgba(0,0,0,0.75);
    border: none;
    max-width: 1000px;
    width: 80%;
    min-width: 300px;
    padding: 30px;

    h2 {
      border-bottom: black dashed 1px;
      padding-bottom: 10px;

      color: #0e72c4;
      font-family: Arial, sans-serif;
    }

    p {
      font-family: Arial, sans-serif;
    }
  }
}